* {
  background-color: red;
  box-sizing:border-box;
}

body {
  margin:0;
}

:root {
  --cell-size: 140px;
  --token-size: 120px; //calculate the token size
}

container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  text-align:center;
  text-transform: uppercase;
  padding-top:20px;
  padding-bottom: 50px;
}

/* styling the game board */
#board {
  width: 100%;
  height: 100%;
  display:grid;
  justify-content:center; //let the cells centered
  align-content:center;
  grid-template-columns:repeat(3,auto);
  grid-template-rows:repeat(3,auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid white;
  justify-content:center;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
  border-top:none;
}
.cell:nth-child(3n+1) {
  border-left:none;
}
.cell:nth-child(3n) {
  border-right:none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
  border-bottom:none;
}

/* make the letter token */
.cell p {
  display: none;
}

.cell.player1 > *:first-child{
  display:block;
  font-size: 60px;
  color:white;
  text-align:center;
}

.cell.player2 > *:nth-child(2){
  display:block;
  font-size: 60px;
  color: white;
  text-align:center;
}

/* result part */
h2 {
  text-align:center;
  padding-top:20px;
}
